+b.search-container
	+b.search-form-wrapper
		+e.search-form
			.input-field
				i.material-icons.prefix search
				input#icon_telephone.validate(type='text', name='search_news')
				label(for='icon_telephone') Search news...
