@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: #000;
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  font-family: 'Oswald', sans-serif;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch; }

h1, h2, h3, h4 {
  margin: 0; }

.menu_slide {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2000; }
  @media (min-width: 767px) {
    .menu_slide {
      max-width: 480px; } }
  @media (min-width: 1200px) {
    .menu_slide {
      max-width: 580px; } }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  right: 0;
  top: 0;
  background-color: rgba(158, 158, 158, 0.6);
  display: none; }

.menu-wrapper {
  display: flex;
  height: 100%; }

.menu-right {
  width: 80px;
  position: relative;
  display: block;
  padding-top: 30px; }

.burger-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 50px; }
  .burger-wrapper:hover {
    cursor: pointer; }
  .burger-wrapper__stick-arrow, .burger-wrapper__stick-arrow:after, .burger-wrapper__stick-arrow:before {
    width: 40px;
    height: 4px;
    display: block;
    background-color: #E0E0E0;
    position: absolute;
    transition: all .3s linear;
    transform-origin: 50% 50%; }
  .burger-wrapper__stick-arrow:before {
    content: '';
    top: -13px;
    left: 0; }
  .burger-wrapper__stick-arrow:after {
    content: '';
    top: 13px;
    left: 0; }
  .burger-wrapper__stick-arrow.trigger {
    transform: rotate(180deg); }
  .burger-wrapper__stick-arrow.trigger:after {
    transform-origin: 100% 50%;
    transform: translateY(-14px) rotate(-45deg) scaleX(0.7); }
  .burger-wrapper__stick-arrow.trigger:before {
    transform-origin: 100% 50%;
    transform: translateY(14px) rotate(45deg) scaleX(0.7); }

.menu-left {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  box-shadow: 5px 0px 10px rgba(33, 33, 33, 0.3); }

.navigation-box {
  width: 100%;
  display: flex;
  margin: 0 20px;
  flex-direction: column; }
  .navigation-box__pill a {
    font-size: responsive 16px 21px;
    font-range: 420px 1280px;
    font-weight: bolder;
    padding: 15px 5px;
    display: block;
    text-align: center;
    color: #9E9E9E;
    transition: all .3s linear;
    border-bottom: 1px solid #9E9E9E; }
    .navigation-box__pill a:hover {
      color: #212121;
      background-color: #E0E0E0; }
  .navigation-box__pill:last-child a {
    border-bottom: none; }

.join-us-container {
  width: 100%;
  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  box-shadow: 0px 2px 50px rgba(33, 33, 33, 0.7);
  right: 100px; }
  @media (min-width: 767px) {
    .join-us-container {
      width: 100%; } }
  @media (min-width: 979px) {
    .join-us-container {
      width: 400px; } }
  .join-us-container__title {
    padding: 20px 20px 10px;
    text-align: center;
    font-size: responsive 16px 26px;
    font-range: 420px 1280px;
    font-weight: bolder;
    color: #9E9E9E; }

.join-us-form {
  width: 100%;
  padding: 10px 20px; }
  .join-us-form__button-container {
    display: flex;
    justify-content: center;
    padding: 10px 0; }

.input-field input[type="text"]:focus + label {
  color: #2196F3 !important; }

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important; }

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important; }

.input-field input[type="text"].valid {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

.input-field input[type="text"].invalid {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

.homepage-hero-module {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative; }

.overlay-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center; }
  .overlay-video:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.8); }
  .overlay-video video {
    min-height: 100%;
    min-width: 100%; }

.arrow_down {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.intro {
  width: calc(100% - 80px);
  height: auto;
  padding: 40px 100px;
  min-width: 300px;
  border: 1px solid rgba(224, 224, 224, 0.3); }
  @media (min-width: 767px) {
    .intro {
      width: 50%; } }
  .intro__title {
    text-align: center;
    color: #E0E0E0;
    letter-spacing: 10px; }
  .intro__description {
    color: #E0E0E0;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 0; }
  .intro button {
    margin: 10px auto;
    display: block;
    color: black !important; }

.join-us-container {
  width: 100%;
  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  box-shadow: 0px 2px 50px rgba(33, 33, 33, 0.7);
  right: 100px; }
  @media (min-width: 767px) {
    .join-us-container {
      width: 100%; } }
  @media (min-width: 979px) {
    .join-us-container {
      width: 400px; } }
  .join-us-container__title {
    padding: 20px 20px 10px;
    text-align: center;
    font-size: responsive 16px 26px;
    font-range: 420px 1280px;
    font-weight: bolder;
    color: #9E9E9E; }

.join-us-form {
  width: 100%;
  padding: 10px 20px; }
  .join-us-form__button-container {
    display: flex;
    justify-content: center;
    padding: 10px 0; }

.input-field input[type="text"]:focus + label {
  color: #2196F3 !important; }

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important; }

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important; }

.input-field input[type="text"].valid {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

.input-field input[type="text"].invalid {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3; }

.after-intro {
  padding: 80px 80px 100px 80px;
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column wrap; }
  @media (min-width: 767px) {
    .after-intro {
      flex-flow: row nowrap; } }

.description-conteiner {
  width: 100%;
  position: relative; }
  .description-conteiner:after {
    content: "UBER";
    display: block;
    font-weight: bold;
    font-size: responsive;
    max-font-size: 256px;
    min-font-size: 90px;
    lower-font-range: 767px;
    upper-font-range: 1280px;
    position: absolute;
    color: rgba(158, 158, 158, 0.7);
    z-index: -1100;
    left: 40px;
    bottom: 40px;
    opacity: .3;
    display: none; }
  @media (min-width: 767px) {
    .description-conteiner {
      width: 40%;
      padding-left: 40px; }
      .description-conteiner:after {
        display: block; } }
  @media (min-width: 979px) {
    .description-conteiner {
      width: 50%;
      padding-left: 100px; }
      .description-conteiner:after {
        left: 140px; } }
  .description-conteiner__title {
    color: #9E9E9E;
    padding: 5px;
    position: relative;
    font-size: responsive;
    max-font-size: 44px;
    min-font-size: 24px;
    lower-font-range: 767px;
    upper-font-range: 1280px; }
  .description-conteiner__description {
    padding: 5px;
    color: #212121;
    font-weight: 300;
    letter-spacing: 0.5px; }
  .description-conteiner__additional_description {
    margin-top: 80px;
    border: none; }
    @media (min-width: 767px) {
      .description-conteiner__additional_description {
        border-top: 1px solid rgba(33, 33, 33, 0.3); } }

.join-form-container {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center; }
  @media (min-width: 767px) {
    .join-form-container {
      width: 60%;
      padding-left: 40px;
      justify-content: flex-start; } }
  @media (min-width: 979px) {
    .join-form-container {
      width: 50%;
      padding-left: 100px; } }

.underscore:after {
  content: "";
  margin: 10px 0;
  width: 50px;
  height: 3px;
  display: block;
  background-color: #2196F3; }

.underscore.leftSide:after {
  content: '';
  margin-left: auto; }

.phone {
  width: 300px;
  height: 600px;
  border-radius: 15px;
  border: 1px solid #9E9E9E;
  background-color: white;
  box-shadow: 5px 0px 60px rgba(33, 33, 33, 0.9);
  z-index: 1; }

.phone-dinamik {
  width: 80px;
  height: 8px;
  margin: 25px auto;
  background-color: rgba(158, 158, 158, 0.5); }

.phone-display {
  margin-top: 20px;
  margin-left: 15px;
  width: 270px;
  height: 430px;
  box-shadow: 0px 0px 5px #9E9E9E; }

.phone-buttons {
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 5px #9E9E9E;
  border-radius: 100%;
  margin: 19px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .phone-buttons:after {
    content: '';
    width: 45px;
    height: 45px;
    display: block;
    box-shadow: 0px 0px 5px #9E9E9E; }

.flexible {
  width: 100%;
  display: flex;
  position: relative;
  flex-flow: column wrap; }
  @media (min-width: 979px) {
    .flexible {
      flex-flow: row wrap;
      padding: 80px; } }

.benefits_right_phone {
  width: 100%;
  height: auto;
  padding: 80px; }
  @media (min-width: 979px) {
    .benefits_right_phone {
      width: 50%;
      padding: 140px 30px 10px 40px; } }

.benefits_right {
  width: 100%;
  clear: both;
  margin-bottom: 50px; }
  @media (min-width: 767px) {
    .benefits_right {
      width: 100%;
      padding: 0; } }
  @media (min-width: 979px) {
    .benefits_right {
      padding: 0 140px 0 0; } }
  .benefits_right__title {
    color: #9E9E9E;
    text-align: left;
    font-size: responsive;
    max-font-size: 44px;
    min-font-size: 24px;
    lower-font-range: 767px;
    upper-font-range: 1280px; }
    .benefits_right__title:after {
      margin-left: 0 !important; }
    @media (min-width: 979px) {
      .benefits_right__title {
        text-align: left; } }
  .benefits_right__description {
    padding: 5px;
    color: #212121;
    font-weight: 300;
    letter-spacing: .5px;
    text-align: left; }
    @media (min-width: 979px) {
      .benefits_right__description {
        text-align: left; } }
  .benefits_right__additional_description {
    margin-top: 40px;
    border-top: 1px solid rgba(33, 33, 33, 0.3);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: row; }
    @media (min-width: 979px) {
      .benefits_right__additional_description {
        justify-content: center;
        flex-direction: column; } }
    @media (min-width: 1200px) {
      .benefits_right__additional_description {
        justify-content: center;
        margin-top: 80px; } }
    .benefits_right__additional_description svg {
      margin: 15px 0; }

.benefits_left {
  width: 100%;
  background-color: #212121;
  position: relative;
  padding: 140px 80px; }
  .benefits_left:after {
    content: "UDRIVE";
    color: #fff;
    width: 100px;
    font-size: responsive;
    max-font-size: 120px;
    min-font-size: 90px;
    lower-font-range: 767px;
    upper-font-range: 1280px;
    height: 100px;
    position: absolute;
    bottom: 40px;
    left: 141px;
    display: none; }
  @media (min-width: 767px) {
    .benefits_left {
      width: 100%;
      padding: 50px;
      display: flex; } }
  @media (min-width: 979px) {
    .benefits_left {
      width: 50%;
      padding: 125px 10px 100px 170px; }
      .benefits_left:after {
        display: block; } }
  .benefits_left svg.top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px; }
    @media (min-width: 767px) {
      .benefits_left svg.top {
        display: none; } }
    @media (min-width: 979px) {
      .benefits_left svg.top {
        display: block; } }
  .benefits_left svg.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    display: block; }
    @media (min-width: 767px) {
      .benefits_left svg.bottom {
        display: none; } }

.phone_wrapper {
  width: 300px;
  position: absolute;
  bottom: -70px;
  left: -150px;
  display: none; }
  @media (min-width: 767px) {
    .phone_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static; } }
  @media (min-width: 979px) {
    .phone_wrapper {
      position: absolute;
      left: -150px;
      bottom: -125px; } }

.content {
  margin-right: 20px; }
  @media (min-width: 979px) {
    .content {
      width: 100%;
      margin-left: 10px;
      margin-right: 0; } }
  .content__item {
    color: #E0E0E0;
    margin: 20px 0;
    border-bottom: 1px solid rgba(158, 158, 158, 0.3);
    padding: 10px 0; }
  .content__title {
    color: #2196F3;
    font-weight: 400;
    font-size: responsive 16px 26px;
    font-range: 420px 1280px;
    line-height: 1.2; }
  .content__description {
    font-weight: 300;
    font-size: responsive 16px 14px;
    font-range: 420px 1280px; }

.offers-wrapper {
  padding: 80px 80px 60px 80px;
  position: relative; }
  @media (min-width: 767px) {
    .offers-wrapper {
      padding: 140px 0 60px 0; } }

.offers-content {
  position: relative;
  background-color: #212121;
  padding: 100px 0; }
  .offers-content .header {
    padding-bottom: 40px; }
    .offers-content .header__description {
      color: #EEEEEE; }
  .offers-content:after {
    content: "Offers";
    font-size: responsive;
    max-font-size: 120px;
    min-font-size: 90px;
    lower-font-range: 767px;
    upper-font-range: 1280px;
    display: block;
    position: absolute;
    left: 80px;
    bottom: 0;
    color: rgba(224, 224, 224, 0.4); }
  .offers-content svg {
    width: 100%;
    height: 100px;
    position: absolute; }
  .offers-content svg.top {
    top: 0;
    left: 0; }
  .offers-content svg.bottom {
    bottom: 0; }

.offers-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap column;
  padding-bottom: 10px;
  border-top: 5px solid rgba(238, 238, 238, 0.1);
  border-bottom: 5px solid rgba(238, 238, 238, 0.1); }
  @media (min-width: 767px) {
    .offers-list {
      justify-content: space-around;
      flex-flow: wrap row; } }

.offers-box {
  width: 100%;
  padding: 0 80px; }

.item-box {
  max-width: 550px;
  width: 100%;
  margin: 15px;
  position: relative;
  padding-bottom: 20px; }
  @media (min-width: 767px) {
    .item-box {
      width: 40%; } }
  .item-box:hover:after {
    background-color: rgba(33, 33, 33, 0.5);
    top: 5px;
    left: 5px; }
  .item-box__container {
    display: flex;
    flex-flow: wrap row; }
  .item-box__title {
    width: 100%;
    color: #9E9E9E;
    padding: 5px 10px;
    text-transform: uppercase; }
    .item-box__title h5 {
      margin: 0; }
  .item-box__body {
    display: flex; }
  .item-box__icon {
    width: 30%;
    min-width: 130px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .item-box__icon img {
      width: 120px; }
    .item-box__icon .fantom {
      width: 120px;
      height: 70px;
      background-color: #E0E0E0; }
  .item-box__description {
    width: 70%;
    color: #EEEEEE;
    font-weight: 300;
    padding: 5px 5px 5px 10px; }

.read-more {
  margin-bottom: 40px;
  margin-right: 80px;
  display: flex;
  justify-content: flex-end; }
  .read-more__anchor-right {
    padding: 5px; }
    .read-more__anchor-right a {
      color: #EEEEEE;
      line-height: 1;
      text-decoration: underline; }

.join-us-wrapper {
  margin: 0;
  padding: 80px; }
  @media (min-width: 767px) {
    .join-us-wrapper {
      padding: 80px; } }

.header {
  margin: 0;
  width: 100%; }
  @media (min-width: 767px) {
    .header {
      width: 50%;
      min-width: 300px;
      max-width: 600px;
      margin: 0 auto; } }
  .header__title {
    color: #9E9E9E;
    font-size: responsive;
    max-font-size: 44px;
    min-font-size: 24px;
    lower-font-range: 767px;
    upper-font-range: 1280px; }
  .header__description {
    color: #212121;
    font-weight: 300;
    text-align: left;
    padding: 0; }
    @media (min-width: 767px) {
      .header__description {
        padding: 0 0; } }

.body-join {
  margin: 50px 0; }

.step-list {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-flow: column wrap; }
  @media (min-width: 767px) {
    .step-list {
      flex-flow: row nowrap; } }

.item {
  width: 100%;
  margin: 20px auto;
  min-width: 250px; }
  @media (min-width: 767px) {
    .item {
      margin: 0;
      display: block;
      width: 30%; } }
  .item__counter {
    display: none;
    justify-content: center;
    position: relative;
    margin-bottom: 30px; }
    @media (min-width: 767px) {
      .item__counter {
        display: flex; } }
    .item__counter:after {
      content: '';
      width: 1px;
      height: 100px;
      background-color: rgba(158, 158, 158, 0.4);
      display: block;
      position: absolute;
      top: 60px;
      z-index: -1;
      left: 50%; }
    .item__counter svg {
      width: 60px;
      height: 60px;
      line-height: 50px;
      text-align: center;
      display: block;
      fill: #2196F3;
      border-radius: 100%;
      color: #2196F3;
      font-weight: bolder;
      font-size: 16px; }
      .item__counter svg .circle {
        fill: #E0E0E0; }
  .item__icon {
    text-align: center;
    width: 150px;
    height: 150px;
    border: 5px solid #E0E0E0;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
    .item__icon svg {
      width: 80px;
      height: 80px;
      fill: #2196F3; }
  .item__context {
    margin-top: 15px; }
  .item__title {
    padding: 5px 0 10px;
    text-align: center;
    color: #9E9E9E;
    font-size: responsive;
    max-font-size: 24px;
    min-font-size: 21px;
    lower-font-range: 767px;
    upper-font-range: 1280px; }
  .item__description {
    text-align: center;
    color: #212121;
    font-weight: 300;
    padding: 0 20px; }

.feedback-form-wrapper {
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-flow: column wrap; }
  @media (min-width: 767px) {
    .feedback-form-wrapper {
      flex-flow: row nowrap; } }
  .feedback-form-wrapper__form-text {
    width: 100%;
    padding: 20px 0; }
    @media (min-width: 767px) {
      .feedback-form-wrapper__form-text {
        width: 50%; } }
  .feedback-form-wrapper__header {
    padding: 0 40px;
    width: 100%;
    color: #9E9E9E;
    font-size: responsive;
    max-font-size: 44px;
    min-font-size: 24px;
    lower-font-range: 767px;
    upper-font-range: 1280px; }
  .feedback-form-wrapper__description {
    padding: 0 40px;
    color: #212121;
    font-weight: 300; }
  .feedback-form-wrapper__container-form {
    box-shadow: 0px 10px 40px rgba(33, 33, 33, 0.3);
    background-color: #fff;
    padding: 20px;
    width: 100%;
    align-self: flex-start; }
    @media (min-width: 767px) {
      .feedback-form-wrapper__container-form {
        max-width: 600px;
        width: 50%;
        margin: 0 auto;
        padding: 50px; } }
    .feedback-form-wrapper__container-form button {
      display: block;
      float: right; }
    .feedback-form-wrapper__container-form:after {
      content: '';
      clear: both;
      display: table; }
    .feedback-form-wrapper__container-form .input-field {
      margin: 0;
      width: 100%; }

.media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px; }
  @media (min-width: 767px) {
    .media-wrapper {
      padding: 100px 0; } }

.media-container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  border: 1px solid rgba(158, 158, 158, 0.3);
  border-radius: 5px;
  box-shadow: 0px 10px 40px rgba(33, 33, 33, 0.3); }
  @media (min-width: 767px) {
    .media-container {
      width: 60%; } }

.news-container {
  width: 100%;
  border-right: 1px solid rgba(158, 158, 158, 0.3); }
  .news-container__header {
    padding: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #212121;
    line-height: 0.9;
    position: relative; }
  .news-container__title {
    color: #fff;
    line-height: 0;
    font-size: 74px; }
  .news-container__read-more a {
    text-decoration: underline;
    color: #E0E0E0; }

ul.news-box {
  padding: 10px; }

.news-list {
  width: 100%;
  position: relative; }
  .news-list:after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 110px;
    background-color: rgba(158, 158, 158, 0.6); }
  .news-list__feed {
    width: 100%;
    margin: 30px 0;
    padding: 5px 10px;
    display: flex;
    position: relative; }
  .news-list__content {
    width: calc(100% - 100px);
    padding: 0 15px;
    position: relative; }
  .news-list__title {
    position: relative;
    color: #2196F3;
    font-size: responsive;
    max-font-size: 44px;
    min-font-size: 24px;
    lower-font-range: 767px;
    upper-font-range: 1280px; }
    .news-list__title:after {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: #2196F3;
      display: block;
      position: absolute;
      top: 17px;
      left: -17px; }
  .news-list__description {
    color: #212121;
    font-weight: 300; }
  .news-list__timestamp {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .news-list__day {
    font-size: 34px;
    display: block;
    padding: 5px;
    font-weight: bolder;
    color: #2196F3; }
  .news-list__month {
    font-style: italic;
    margin-right: 5px;
    font-weight: 300;
    color: #9E9E9E; }
  .news-list__year {
    font-weight: 300;
    color: #9E9E9E; }

.offers-container {
  width: 50%; }
  .offers-container__header {
    padding: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #212121; }
  .offers-container__title {
    color: #9E9E9E; }
  .offers-container__read-more a {
    text-decoration: underline;
    color: #E0E0E0; }

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap; }

.search-form-wrapper {
  width: 100%;
  max-width: 800px;
  padding: 20px 60px 0;
  margin: 0 auto; }

.input-field .material-icons {
  color: #2196F3; }

.news-container {
  padding: 10px; }

.news-feed-line {
  width: 100%; }
  @media (min-width: 767px) {
    .news-feed-line {
      max-width: 760px;
      width: 100%;
      margin: 20px auto;
      display: block; } }
  @media (min-width: 979px) {
    .news-feed-line {
      display: flex;
      flex-flow: row wrap; } }

.feed {
  border-top: 1px solid rgba(158, 158, 158, 0.2);
  position: relative;
  margin: 20px 0;
  width: 100%; }
  @media (min-width: 979px) {
    .feed {
      width: calc(50% - 20px);
      margin: 10px; } }
  .feed:first-child {
    border-top: none; }
  .feed__timestamp {
    width: 100%;
    display: flex; }
  .feed__img-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
    position: relative;
    background-color: #2196F3; }
  .feed__news-category-capture {
    padding: 2px 5px;
    height: 25px;
    background-color: #2196F3;
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 1;
    color: #EEEEEE; }
  .feed__news-avatar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #9E9E9E; }
    .feed__news-avatar-wrapper img {
      width: 100%;
      height: 100%;
      display: block; }
  .feed__title {
    font-size: responsive;
    max-font-size: 30px;
    min-font-size: 24px;
    lower-font-range: 300px;
    upper-font-range: 767px;
    color: #9E9E9E;
    padding: 10px 0;
    text-decoration: underline; }
  .feed__description {
    color: #212121;
    padding: 10px 0;
    font-weight: 300;
    line-height: 1.3; }
  .feed__day {
    margin-right: 5px;
    font-style: italic; }
  .feed__month {
    margin-right: 5px;
    font-style: italic; }
  .feed__year {
    margin-right: 5px;
    font-style: italic; }
  .feed__feed-footer {
    display: flex;
    justify-content: space-between; }
  .feed__comments {
    font-style: italic; }
  .feed__read-more {
    display: flex;
    align-items: baseline; }
    .feed__read-more span {
      margin-right: 5px;
      font-style: italic;
      font-weight: 300; }
    .feed__read-more svg {
      width: 10px;
      height: 10px; }

.pagination-wrapper {
  padding: 30px 0; }
  .pagination-wrapper__list-page {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pagination-wrapper__page {
    padding: 3px 5px;
    line-height: 1; }
  .pagination-wrapper__button {
    width: 30px;
    height: 30px;
    background-color: #2196F3;
    color: #EEEEEE;
    border-radius: 100%; }
    .pagination-wrapper__button span {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pagination-wrapper__button span svg {
        width: 15px;
        height: 15px; }
        .pagination-wrapper__button span svg path {
          fill: #EEEEEE; }

.next-page {
  margin-left: 10px; }

.prev-page {
  margin-right: 10px; }

.active-pagination-page {
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
  border-top: 1px solid rgba(33, 33, 33, 0.3);
  font-weight: 900; }

.footer {
  width: 100%;
  padding: 140px 10px 20px;
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  background-color: #212121; }
  @media (min-width: 767px) {
    .footer {
      padding: 40px 50px 40px 50px;
      margin-top: 50px; } }
  @media (min-width: 979px) {
    .footer {
      background-color: #fff;
      flex-flow: row wrap;
      padding: 140px 80px 40px 80px; } }
  .footer svg.top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    display: block; }
    @media (min-width: 767px) {
      .footer svg.top {
        display: none; } }

.stuff-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 0;
  flex-flow: column wrap; }
  @media (min-width: 979px) {
    .stuff-content {
      border-top: 1px solid rgba(158, 158, 158, 0.2);
      width: 50%;
      order: -1; } }

.stuff-box-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(158, 158, 158, 0.2);
  width: 100%; }
  @media (min-width: 979px) {
    .stuff-box-wrapper {
      width: 50%;
      border-bottom: none;
      border-top: 1px solid rgba(158, 158, 158, 0.2); } }

.stuf-logo {
  display: flex;
  width: 100%; }
  @media (min-width: 979px) {
    .stuf-logo {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; } }
  .stuf-logo .logoImg {
    width: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .stuf-logo .logoImg .img {
      width: 100px;
      height: 100px;
      background-color: #E0E0E0;
      box-shadow: 0px 0px 15px -2px #E0E0E0; }
  .stuf-logo__description {
    width: 50%;
    padding: 10px;
    border-left: 1px solid rgba(158, 158, 158, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: responsive;
    max-font-size: 14px;
    min-font-size: 10px;
    lower-font-range: 300px;
    upper-font-range: 767px; }
    @media (min-width: 979px) {
      .stuf-logo__description {
        border-left: none;
        margin-top: 10px;
        border-top: 1px solid rgba(158, 158, 158, 0.2);
        width: 100%; } }
  .stuf-logo__item {
    display: flex;
    padding: 5px 0; }
    .stuf-logo__item p {
      color: #EEEEEE;
      letter-spacing: 1px;
      font-weight: 300;
      padding-left: 10px; }
      @media (min-width: 979px) {
        .stuf-logo__item p {
          color: #212121; } }
    .stuf-logo__item i {
      color: #9E9E9E;
      display: none; }
      @media (min-width: 321px) {
        .stuf-logo__item i {
          display: block;
          font-size: responsive;
          max-font-size: 14px;
          min-font-size: 10px;
          lower-font-range: 300px;
          upper-font-range: 767px; } }
      @media (min-width: 979px) {
        .stuf-logo__item i {
          font-size: 24px; } }

.stuff-box {
  padding: 10px; }
  .stuff-box__header {
    color: #9E9E9E; }
  .stuff-box__item {
    padding: 5px 0px;
    text-decoration: underline; }
    .stuff-box__item a {
      color: #EEEEEE;
      font-weight: 300;
      font-size: responsive;
      max-font-size: 14px;
      min-font-size: 10px;
      lower-font-range: 300px;
      upper-font-range: 767px; }
      @media (min-width: 979px) {
        .stuff-box__item a {
          color: #9E9E9E; } }

.gradiend-bottom-line {
  height: 5px;
  background-image: linear-gradient(-135deg, #1e88e5, #b900b4, #f50057, #e040fb); }

.social-stuff {
  width: 100%;
  padding: 40px 30px 0 30px;
  display: flex;
  margin-top: 30px;
  border-top: 1px solid rgba(158, 158, 158, 0.2); }
  @media (min-width: 979px) {
    .social-stuff {
      padding: 80px 30px 0 30px; } }
  .social-stuff__container-for-label {
    width: 50%;
    position: relative;
    display: none; }
    @media (min-width: 979px) {
      .social-stuff__container-for-label {
        display: block; } }
    .social-stuff__container-for-label:after {
      content: "CONTACT US";
      position: absolute;
      color: rgba(33, 33, 33, 0.1);
      left: 0;
      bottom: 0;
      font-weight: bolder;
      line-height: 1;
      font-size: responsive;
      max-font-size: 90px;
      min-font-size: 50px;
      lower-font-range: 767px;
      upper-font-range: 1280px; }
  .social-stuff__container-for-social {
    width: 100%; }
    @media (min-width: 979px) {
      .social-stuff__container-for-social {
        width: 50%; } }
  .social-stuff__social-list {
    width: 100%;
    display: flex;
    justify-content: center; }
  .social-stuff__soc svg {
    fill: #9E9E9E;
    width: 40px;
    height: 40px;
    margin-right: 25px; }
  .social-stuff__soc:last-child svg {
    margin-right: 0; }
