mixin decorate-box
	+b.decorated-blok
		+e.header-container
			+e.absolute-container
				+e.photo-container
				//- span.decorate-line
				+e.title-container
					+e.H3.title
						|    Lorem ipsum dolor sit amet, consectetur adipisicing.
		+e.body-container
			+e.P.text
				|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quia veritatis qui voluptate aut, tempore autem nemo at ducimus dicta dolorem, laborum nisi aspernatur quas. Animi debitis impedit doloremque, iusto laborum est adipisci dolore quis atque magnam. Porro ipsa illum maxime nostrum placeat impedit, illo sapiente reprehenderit temporibus, ea. Molestias!
			span.decorate-line