extends layout.pug

block content
	include landing/1_intro/landing_intro.pug
	include landing/2_after_intro/landing_join-to-us
	include landing/3_flexible/landing_flaxible.pug
	include landing/4_connect_is_easy/connect_is_easy
	include landing/7_news_container/news
	include landing/5_have_any_question/landing_have-question

