include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })


doctype html
html(lang='en')
	head
		include head/head
	body
		div.container-wrapper-uber
			block navigation
				include navigation/navigation
			block content
				section 1
				section 2

		block footer
			include footer/footer
		block scripts
			script(src='libs/jquery/dist/jquery.min.js')
			script(src='libs/materialize/dist/js/materialize.min.js')
			script(src='js/main.js')
			
