+b.news-container
	+b.UL.news-feed-line
		each news in content.news
			+b.LI.feed
				+e.DIV.content
					+e.H4.title= news.title
					+e.img-wrapper
						+e.news-category-capture: span Category
						+e.news-avatar-wrapper
							img(src="", alt="")
					+e.DIV.timestamp
						+e.SPAN.day= news.day
						+e.footer_time
							+e.SPAN.month= news.month
							+e.SPAN.year= news.year
					+e.P.description= news.description
				+e.feed-footer
					+e.comments 
						| 0 comments
					+e.read-more 
						span
							| Read more 
						svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 129 129', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 129 129')
							g
								path(d='m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z')


