.join-us-wrapper {
	margin: 0;
	padding: 80px;

	@include breakpoint("mobile") {
		padding: 80px;
		// margin-top: 40px;
	}
}

.header {
	margin: 0;
	width: 100%;
	@include breakpoint("mobile") {
		width: 50%;
		min-width: 300px;
		max-width: 600px;
		margin: 0 auto;	
	}

	&__title  {
		color: $grey;
		@include rText(44px, 24px)
	}

	&__description {
		color: $black;
		font-weight: 300;
		text-align: left;
		padding: 0;
		@include breakpoint("mobile") {
			padding: 0 0;
		}

	}
}

.body-join {
	margin: 50px 0;
}

.step-list {
	width: 100%;
	display: flex;

	position: relative;
	justify-content: center;
	flex-flow: column wrap;

	@include breakpoint("mobile") {
		flex-flow: row nowrap;
	}

}

.item {
	width: 100%;
	margin: 20px auto;
	min-width: 250px;

	@include breakpoint("mobile") {
		margin: 0;
		display: block;
		width: 30%;
	}

	&__counter {
		display: none;
		justify-content: center;
		position: relative;
		margin-bottom: 30px;
		@include breakpoint("mobile") {
			display: flex;
		}

		&:after {
			content: '';
			width: 1px;
			height: 100px;
			background-color: rgba($grey, .4);
			display: block;
			position: absolute;
			top: 60px;
			z-index: -1;
			left: 50%;

		}
		svg {
			width: 60px;
			height: 60px;
			line-height: 50px;
			text-align: center;
			display: block;
			fill: $blue;
			border-radius: 100%;
			color: $blue;

			font-weight: bolder;
			font-size: 16px;

			.circle {
				fill: $darkWhite;
			}

		}

	}

	&__icon {
		text-align: center;


		width: 150px;
		height: 150px;

		border: 5px solid $darkWhite;
		border-radius: 100%;
		margin: 0 auto;
		position: relative;
		background-color: #fff;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 80px;
			height: 80px;
			fill: $blue;
		}
	}

	&__context {

	}
	&__context {
		margin-top: 15px;

	}
	&__title {
		padding: 5px 0 10px;
		text-align: center;
		color: $grey;
		@include rText(24px, 21px)

	}
	&__description {
		text-align: center;
		color: $black;
		font-weight: 300;
		padding: 0 20px;

	}

}