.phone {
	// margin: 0 auto;
	width: 300px;
	height: 600px;
	border-radius: 15px;
	border: 1px solid $grey;
	background-color: white;
	box-shadow: 0px 7px 60px rgba($black, .6);
}

.phone-shell {
	
}

.phone-dinamik {
	width: 80px;
	height: 8px;
	// border: 1px solid #000;
	margin: 25px auto;
	background-color: rgba($grey, .5);

}

.phone-display {
	margin-top: 20px;
	margin-left: 15px;
	width: 270px;
	height: 430px;
	// border: 1px solid $grey;
	box-shadow: 0px 0px 5px $grey;
}

.phone-buttons {
	width: 80px;
	height: 80px;
	// border: 1px solid $grey;
	box-shadow: 0px 0px 5px $grey;
	border-radius: 100%;
	margin: 19px auto;
	position: relative;  
	display: flex;
	justify-content: center;
	align-items: center;
	&:after {
		content: '';
		width: 45px;
		height: 45px;
		display: block;	
		// border: 1px solid $grey;
		box-shadow: 0px 0px 5px $grey;
	}
}