* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: $defaultBlack;
	text-decoration: none;
}

li {
	list-style: none;
}
html, body {
	height: 3000px;
	// height: 100%;
	font-family: 'Oswald', sans-serif;
	
}

h1, h2, h3 {
	margin: 0;
}