* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: $defaultBlack;
	text-decoration: none;
}

li {
	list-style: none;
}
html, body {
	height: 100%;
	font-family: 'Oswald', sans-serif;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	
}

h1, h2, h3, h4 {
	margin: 0;
}