//fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=cyrillic');
//color theme
$blue: #2196F3;
$black: #212121;
$grey: #9E9E9E;
$white: #EEEEEE;
$darkWhite: #E0E0E0;
$red: #d81b60;

//default colors
$defaultBlack: #000;

//breakpoints
$breakpoints: (
	'iphone' : (min-width: 321px),
	'mobile' : ( min-width: 767px),
	'small'  : ( min-width:  979px ),
	'large'  : ( min-width: 1200px )
	);
//navigation
$openMenuWidth: 80px;


// $maxSize: 44px;
// $lowerSize: 24px;