.after-intro {
	padding: $openMenuWidth $openMenuWidth 100px $openMenuWidth;
	position: relative;
	height: 100%;
	display: flex;
	flex-flow: column wrap;

	@include breakpoint("mobile") {
		flex-flow: row nowrap;
	}
	

}

.description-conteiner {
	width: 100%;
	position: relative;

	&:after {
		content: "UBER";
		display: block;
		font-weight: bold;

		font-size: responsive;
		max-font-size: 256px;
		min-font-size: 90px;
		lower-font-range: 767px;
		upper-font-range: 1280px;

		position: absolute;
		
		color: rgba($grey, .7);
		z-index: -1100;

		left: 40px;
		bottom: 40px;
		opacity: .3;
		display: none;

	}



	@include breakpoint("mobile") {
		width: 40%;
		padding-left: 40px;
		&:after {
			display: block;
		}
	}
	@include breakpoint("small") {
		width: 50%;
		padding-left: 100px;
		&:after {
			left: 140px;
		}
	}

	&__title {
		color: $grey;
		padding: 5px;
		position: relative;
		font-size: responsive;
		max-font-size: 44px;
		min-font-size: 24px;
		lower-font-range: 767px;
		upper-font-range: 1280px;
	}


	&__description {
		padding: 5px;
		color: $black;
		font-weight: 300;
		letter-spacing: 0.5px;
	}

	&__additional_description {
		margin-top: 80px;
		border: none;
		@include breakpoint("mobile") {
			border-top: 1px solid rgba($black, .3);
		}
	}
}


.join-form-container {
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	@include breakpoint("mobile") {
		width: 60%;
		padding-left: 40px;
		justify-content: flex-start;
	}
	@include breakpoint("small") {
		width: 50%;
		padding-left: 100px;
	}
}

.underscore{
	&:after {
		content: "";
		margin: 10px 0;
		width: 50px;
		height: 3px;
		display: block;
		background-color: $blue;
	}
}


.underscore.leftSide {
	&:after {
		content: '';
		margin-left: auto;
	}
}
