+b.after-intro
	+b.description-conteiner
		+e.H2.title  Lorem ipsum dolor sit.
		+e.P.description
			|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis officiis, illo. Magnam ad, fuga ratione at velit dolorum dolor sed corporis nostrum. Tenetur totam, debitis tempore repudiandae consequuntur ullam deleniti, ad commodi, dolorem nesciunt facere tempora qui ratione in voluptatum. Itaque cupiditate nam quasi maxime esse, deleniti tenetur veniam eius.
		+e.DIV.additional_description
		
	+b.join-form-container