
.footer {
	width: 100%;
	// padding: 140px 80px 40px 80px ;
	padding: 140px 10px 20px;
	position: relative;
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap;
	background-color: $black;
	// margin-bottom: 5px;


	@include breakpoint("mobile") {
		padding: 40px 50px 40px 50px;
		// margin-top: 50px;
	}

	@include breakpoint("small") {
		background-color: #fff;
		flex-flow: row wrap;
		padding: 140px 80px 40px 80px;
	}

	svg.top {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100px;
		display: block;

		@include breakpoint("mobile") {
			display: none;
		}
	}
	
}
.stuff-content {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 0;
	flex-flow: column wrap;

	@include breakpoint("small") {
		border-top: 1px solid rgba($grey, .2);
		width: 50%;
		order: -1;
	}
}

.stuff-box-wrapper {
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid  rgba($grey, .2);
	width: 100%;
	
	@include breakpoint("small") {
		width: 50%;
		border-bottom: none;
		border-top: 1px solid rgba($grey, .2);

	}
}

.stuf-logo {
	display: flex;
	width: 100%;
	
	@include breakpoint("small") {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

	}
	.logoImg{
		width: 50%;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		.img {
			width: 100px;
			height: 100px;
			background-color: $darkWhite;
			box-shadow: 0px 0px 15px -2px $darkWhite;
		}
	}
	&__description {
		width: 50%;
		padding: 10px;
		border-left: 1px solid rgba($grey, .2);
		display: flex;
		justify-content: center;
		align-items: center;
		@include iphoneText();
		@include breakpoint("small") {
			border-left: none;
			margin-top: 10px;
			border-top: 1px solid rgba($grey, .2);
			width: 100%;
		}
	}
	&__private-date{

	}
	&__item {
		display: flex;
		padding: 5px 0;
		p {
			color: $white;
			letter-spacing: 1px;
			@include breakpoint("small") {
				color: $black;
			}
			font-weight: 300;
			padding-left: 10px;
		}
		i {
			color: $grey;
			display: none;
			@include breakpoint("iphone") {
				display: block;
				@include iphoneText()
			}
			@include breakpoint("small") {
				font-size: 24px;
			}
		}
	}
}


.stuff-box {
	padding: 10px;
	&__header {
		color: $grey;
	}	
	&__list {
		
	}
	&__item {
		padding: 5px 0px;
		text-decoration: underline;

		a {
			color: $white;
			font-weight: 300;
			@include iphoneText();
			@include breakpoint("small") {
				color: $grey;
			}
		}

	}
}
.gradiend-bottom-line {
	height: 5px;
	width: 100%;
	background-image: linear-gradient(-135deg, #1e88e5,#b900b4,#f50057, #e040fb);
}
.social-stuff {
	width: 100%;
	padding: 40px 30px 0 30px;
	display: flex;
	margin-top: 30px;
	border-top: 1px solid rgba($grey, .2);

	@include breakpoint("small") {
		padding: 80px 30px 0 30px;
	}

	&__container-for-label {
		width: 50%;
		position: relative;
		display: none;
		@include breakpoint("small") {
			display: block;
		}

		&:after {
			content: "CONTACT US";
			position: absolute;
			color: rgba($black, .1);
			left: 0;
			bottom: 0;
			font-weight: bolder;
			line-height: 1;
			@include rText(90px, 50px)
		}
	}
	&__container-for-social {
		width: 100%;
		@include breakpoint("small") {
			width: 50%;
		}
	}
	&__social-list {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__soc {
		svg {
			fill: $grey;
			width: 40px;
			height: 40px;
			margin-right: 25px;
		}

		&:last-child svg{
			margin-right: 0;
		}

	}
	
}

