.flexible{
	width: 100%;
	display: flex;
	position: relative;
	flex-flow: column wrap;
	// @include breakpoint("mobile") {
	// 	flex-flow: row nowrap;
	// 	padding: $openMenuWidth;
	// }
	@include breakpoint("small") {
		flex-flow: row wrap;
		padding: $openMenuWidth;
	}
}
.benefits_right_phone {
	width: 100%;
	height: auto;
	padding: 80px;
	@include breakpoint("small") {
		width: 50%;
		padding: 140px 30px 10px 40px;
	}
	
}
.benefits_right {
	width: 100%;
	clear: both;
	margin-bottom: 50px;

	@include breakpoint("mobile") {
		// padding-right: 180px;
		// padding-left: 10px;
		// padding-top: 20px;
		width: 100%;
		padding: 0;
	}

	@include breakpoint("small") {
		padding: 0 140px 0 0;


	}

	&__title {
		color: $grey;
		text-align: left;
		@include rText(44px, 24px)

		&:after {
			margin-left: 0 !important;
		}
		@include breakpoint("small") {
			text-align: left;
		}
	}

	&__description {
		padding: 5px;
		color: $black;
		font-weight: 300;
		letter-spacing: .5px;
		text-align: left;

		@include breakpoint("small") {
			text-align: left;
		}

	}

	&__additional_description {
		margin-top: 40px;
		border-top: 1px solid rgba($black, .3);
		padding: 5px;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		@include breakpoint("small") {
			justify-content: center;
			flex-direction: column;
		}

		@include breakpoint("large") {
			justify-content: center;
			margin-top: 80px;
		}
		svg {
			margin: 15px 0;
		}
	}
}

.benefits_left {
	width: 100%;
	background-color: $black;
	position: relative;
	padding: 140px 80px;

	&:after {
		content: "UDRIVE";
		color: #fff;
		width: 100px;
		@include rText(120px, 90px)
		height: 100px;
		position: absolute;
		bottom: 40px;
		left: 141px;
		display: none;
	}

	@include breakpoint("mobile") {
		width: 100%;
		padding: 50px;
		display: flex;
	}
	@include breakpoint("small") {
		width: 50%;
		padding: 125px 10px 100px 170px;
		&:after {
			display: block;
			
		}
	}
	svg.top{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100px;
		// display: none;

		@include breakpoint("mobile") {
			display: none;
		}

		@include breakpoint("small") {
			display: block;
		}
	}
	svg.bottom{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100px;
		display: block;

		@include breakpoint("mobile") {
			display: none;

		}
	}

}

.phone_wrapper {
	width: 300px;
	position: absolute;
	bottom: -70px;
	// margin-left: calc(50% - 230px);
	left: -150px;
	display: none;
	@include breakpoint("mobile") {
		display: flex;
		justify-content: center;
		align-items: center;
		position: static;
		// left: 0;
		// width: 50%;
	}
	@include breakpoint("small") {
		position: absolute;
		left: -150px;
		bottom: -125px;
	}


}

.content {
	// padding: 25px;
	margin-right: 20px;
	@include breakpoint("small") {
		width: 100%;
		// padding: 100px;
		margin-left: 10px;
		margin-right: 0;
	}

	&__item {
		color: $darkWhite;
		margin: 20px 0;
		border-bottom: 1px solid rgba($grey, .3);
		padding: 10px 0;

	}
	&__title {
		color: $blue;
		font-weight: 400;
		font-size: responsive 16px 26px;
		font-range: 420px 1280px;
		line-height: 1.2;

	}
	&__description {
		font-weight: 300;
		font-size: responsive 16px 14px;
		font-range: 420px 1280px;
		// line-height: 1.3;

	}
}

.offers-wrapper {
	padding: 80px 80px 60px 80px;
	position: relative;
	&:after {
		content: "Offers";
		display: block;
		position: absolute;
		left: 80px;
		top: 0;
		color: rgba($black, .3);
		@include rText(134px, 60px);
	}
	@include breakpoint("mobile") {
		padding: 140px 80px 60px 80px;
	}

}


.offers-list {
	padding-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap column;
	padding-bottom: 20px;

	@include breakpoint("mobile") {
		justify-content: space-around;
		flex-flow: wrap row;
	}
}

.item-box {
	min-width: 350px;
	max-width: 550px;
	width: 100%;
	margin: 15px;
	position: relative;
	background-color: #fff;
	box-shadow: 0px 10px 40px rgba($black, .3);
	padding-bottom: 20px;

	@include breakpoint("mobile") {
		width: 40%;
	}

	&:hover:after {
		background-color: rgba($black, .5);
		top: 5px;
		left: 5px;
	}

	&:after {
		// transition: .3s linear;
		// content: "";
		// width: 100%;
		// height: 100%;
		// background-color: $white;
		// display: block;
		// position: absolute;
		// z-index: -1;
		// top: 15px;
		// left: 15px;
	}

	&__container {
		display: flex;
		flex-flow: wrap row;

	}
	&__title {
		width: 100%;
		color: $grey;
		padding: 5px 10px;
		text-transform: uppercase;
		h6 {

		}
	}
	&__body {
		display: flex;
	}
	
	&__icon {
		width: 30%;
		min-width: 130px;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 120px;
		}

		.fantom {
			width: 120px;
			height: 70px;
			background-color: $darkWhite;
		}
	}
	&__description {
		width: 70%;
		color: $black;
		font-weight: 300;
		padding: 5px 5px 5px 10px;
	}
}

.read-more{
	margin-top: 40px;
	display: flex;
	justify-content: flex-end;
	&__anchor-right {
		padding: 5px;
		a {
			color: $black;
			line-height: 1;
			text-decoration: underline;
		}
	}
}