.media-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px;
	@include breakpoint("mobile") {
		padding: 100px 0;
	}
}

.media-container {
	display: flex;
	width: 100%;
	max-width: 1100px;
	border: 1px solid rgba($grey, .3);
	border-radius: 5px;

	box-shadow: 0px 10px 40px rgba($black, .3);

	@include breakpoint("mobile") {
		width: 60%;
	}
}

.news-container {
	width: 100%;

	border-right: 1px solid rgba($grey, .3);

	&__header {
		padding: 20px;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		background-color: $black;
		line-height: 0.9;
		position: relative;

	}
	&__title {
		// color: $grey;
		color: #fff;
		line-height: 0;
		font-size: 74px;


	}
	&__read-more {
		a {
			text-decoration: underline;
			color: $darkWhite;
		}
	}
}

ul.news-box {
	padding: 10px;
	
}


.news-list {
	width: 100%;
	position: relative;
	&:after {
		content: "";
		width: 1px;
		height: 100%;
		position: absolute;
		display: block;
		top: 0;
		left: 110px;
		background-color: rgba($grey, .6);
	}
	&__feed {
		width: 100%;
		margin: 30px 0;
		padding: 5px 10px;
		display: flex;
		position: relative;

	}
	&__content {
		width: calc(100% - 100px);	
		padding: 0 15px;
		position: relative;

	}
	&__title {
		position: relative;
		color: $blue;
		@include rText(44px, 24px)
		&:after {
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 100%;
			background-color: $blue;
			display: block;
			position: absolute;
			top: 17px;
			left: -17px;
		}
	}
	&__description {
		color: $black;
		font-weight: 300;
	}
	&__timestamp {
		width: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

	&__day {
		font-size: 34px;
		display: block;
		padding: 5px;
		font-weight: bolder;
		color: $blue;

	}

	&__footer_time {

	}

	&__month {
		font-style: italic;
		margin-right: 5px;
		font-weight: 300;
		color: $grey;
	}

	&__year {
		font-weight: 300;
		color: $grey;
	}
}




.offers-container {
	width: 50%;
	&__header {
		padding: 20px;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		background-color: $black;
	}

	&__title {
		color: $grey;

	}
	&__read-more {
		a {
			text-decoration: underline;
			color: $darkWhite;
		}
	}
}


.news-list {
	
	&__feed {

	}
}